body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 1fr 1fr;


}

.leftdash {
    background-color: #ffb498;
    grid-column: 1/ 2;
    grid-row: 1 / 4;
    grid-template-rows: 0.4fr 1.2fr 0.7fr 0.7fr;
    display: grid;
}

.header {
    justify-content: center;
    align-content: center;
}

.header > h1 {
    display: inline;
}

.header > svg {
    height: 2em;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 40px;;
}
.tools {
    display: grid;
}

.tool1 > svg, .tool2 > svg, .tool3 > svg, .tool4 > svg, .tool5 >svg {
    padding-right: 20px;
    padding-left: 20px;
}

.tool6 > svg {
    padding-left: 20px;
    padding-right: 15px;;
}

.settings {
    display: grid;
    align-items: center;
    padding-top: 20px;

}

.setting1 > svg, .setting2 > svg, .setting3 > svg {
    padding-right: 20px;
    padding-left: 20px;

}

.banner {
    background-color: white;
    grid-column: 2/ 3;
    grid-row: 1/ 2;
    display: grid;
    grid-template-rows: 30% 70%;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.searchbar {
    display: inline;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-left: 20px;
}

.srch {
    height: 4vh;
    width: 60vh;
    border-radius: 5px;
    background-color: lightgray;
}

.user-items {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-self: center;
}

.user-items > p {
    justify-self: end;
    padding-right: 20px;
}

.user-items > img {
    transform: translate(30vh, 1vh); 
}

.user-items > svg {
    transform: translate(49vh, 2.5vh);

}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.left-side-about {
  
    align-self: center;
    padding-left: 20px;


}

.right-side-about {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    align-self: center;
    padding-right: 20px;


}

.right-side-about > button {
    justify-self: end;
    width: 12vh;
    background-color: cornflowerblue;
    color: white;

}

.btn1, .btn2, .btn3 {
    height: 4vh;
    width: 8vh;
    border-radius: 12px;
    border-color: cornflowerblue;

}

.info {
    grid-column: 2 / 3;
    grid-row: 2 /4;
    display: grid;
    grid-template-columns: 70% 30%;
}

.projects {
    background-color: cornflowerblue;
    grid-column: 1/ 2;
    grid-row: 1/3;

}

.projects > p {
    font-weight: bold;
    color: black;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 3vh;
}

.project-cards {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 55% 55% 55%; 
    height: 45%;
    padding-left: 20px;
    gap: 30px;
    justify-content: start;
    align-content: start;

}



.project1, .project2, .project3, .project4, .project5, .project6{
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover, .project6:hover {
transform: scale(1.07);
}


.announcements {
    background-color: cornflowerblue;
    margin: 0;
}

.announcements > p {
    font-weight: bold;
    color: black;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;;
}

.announcement-cards {
    display: grid;
    grid-template-columns: 80%;
    justify-content: start;
    align-self: end;
    grid-row: auto;
    height: 87%;  

}

.announcement1, .announcement2, .announcement3 {
    background-color: white;
    border-bottom: solid 1px black;
    box-shadow: 2px 2px 2px black;
}

.trending {
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
}

.trending > p {
    font-weight: bold;
    color: black;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;;
}

.trending-cards {
    display: grid;
    grid-template-columns: 80%;
    justify-content: start;
    align-self: start;
    grid-row: auto;
    height: 75%;

}

.trending1, .trending2, .trending3, .trending4 {
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

.trending1 > h5, .trending2 > h5, .trending3 > h5, .trending4 > h5 {
    margin: 0px;
    padding: 0px;
}

.trending1 > p, .trending2 > p, .trending3 > p, .trending4 > p {
    margin: 0px;
    padding: 0px;
    font-size: 12px; 
    font-style: italic;
}

h2, h3 {
    padding: 0;
    margin: 0;
}

.announcement1 > p, .announcement2 > p, .announcement3 > p {
    padding: 0px;
    margin: 0px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

.left-side-about > img {
    height: 50px;
    width: 50px;
    padding-right: 20px;
    margin: 0;


}

.left-side-about > h3, .left-side-about > h4 {
    padding: 0;
    margin: 0;
}
